PYTHON_GRPC_PORT=50051
DRONE_SERVICE_HTTP_PORT=8081
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/hitech
DRONE_SERVICE_HTTP_URL=http://192.168.1.100:8080
DRONE_IP=192.168.10.1
ORCHESTRATOR_GRPC_URL=go-orchestrator:50052
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672/
MINIO_ENDPOINT=minio:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
MINIO_USE_SSL=false
MINIO_BUCKET_RECORDS=records
DRONE_SERVICE_WEBSOCKET_INTERVAL=5
LOG_LEVEL=INFO