DRONE_IP=if_flying_on_wifi
DRONE_SERVICE_HOST=drone-service_ip_here
DRONE_SERVICE_PORT=8081
PARCEL_AUTOMAT_IP=

HEARTBEAT_INTERVAL=30
RECONNECT_INTERVAL=5

LOG_LEVEL=INFO

ARUCO_DICT_TYPE=DICT_6X6_250
MARKER_SIZE_CM=33.0
TARGET_MARKER_ID=52

CRUISE_ALTITUDE=1.5
CRUISE_SPEED=0.5
LANDING_ALTITUDE=0.5
CENTER_THRESHOLD=0.05

DISTANCE_BETWEEN_MARKERS=0.85
FIELD_WIDTH=10.0
FIELD_HEIGHT=12.0
GRID_WIDTH=10
GRID_HEIGHT=10

USE_CLOVER_API=true

MARKER_DETECTION_INTERVAL=0.2
TELEMETRY_INTERVAL=0.5
